.home {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
  margin: 40px auto;
}
.rdtPicker {
  width: 40px;
}


.rdtPicker tr {
  height: 15px; 
}
.home .add-Task-button-container {
  display: flex;
  justify-content: end;
}

.home .add-Task-button-container button {
  margin: 15px;
  width: 100px;
  background-color: #92828c;
  border-color: #92828c;

}

.home .search .ant-input {
  width: 40%;
  border-radius: 10px;
}

.add-todo-form > div {
  margin-bottom: 15px;
}

.add-todo-form .ant-picker,
.add-todo-form .ant-select {
  width: 100%;
}

.home .task {
  margin-top: 23px;
  text-align: start;
}

.home table {
  font-size: 15px;
  font-weight: 500;
  text-align: start;
}

.home table .buttons {
  display: flex;
  gap: 6px;
  align-items: center;
}

.home table .buttons .anticon {
  font-size: 15px;
  cursor: pointer;
}
